body{
    background-color: black;
    color: white;
}
#canvas_container{
    position: relative;
    width: 50%;
    height: 23em;
    margin: 0px auto;
}

#choose_fractal{
    position: absolute;
    right: 0;
}

#canvas{
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: -1;
}

#container{
    display: flex;
}

#button_list{
    display: flex;
    flex-direction: column;
    /* margin-right: 0.3em; */
    width: fit-content;
}

#button_list button{
    margin-bottom: 0.7em;
}

#rules_list{
    display: flex;
    margin-left: 1em;
    /* position: absolute; */
    /* left: ; */
}

.rule{
    /* background-color: beige; */
    width: auto;
    margin-right: 0.1em;
}

.rule h5{
    margin-top: 0.2em;
    margin-bottom: 0.3em;
}

.rule p{
    font-size: smaller;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    /* background-color: blue; */
}

/* seekbar  */
.rule input[type="range"]{
     /* Override default CSS styles */
    margin: 0;
    width: 90%; 
    height: fit-content; /* Specified height */
    background: transparent; 
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    font-size: smaller;
    cursor: pointer;
}

.Color{
    appearance: none;
    width: 90%;
    height: 20px;
    background: transparent;
    border: none;
    cursor: pointer;
}

.Color::-webkit-color-swatch{
    border-radius: 25px;
}
.Color::-webkit-color-swatch{
    border-radius: 20px;
}